In [3]:
import pandas as pd

In [24]:
df = pd.read_csv('../../Chapter 1/Best Seller Analysis/datasheet.csv',header=None, names=['BookTitle','Author','Category','Price','CaptureTimestamp','Rank'])
df.head(5)

,BookTitle,Author,Category,Price,CaptureTimestamp,Rank
0,Black Holes: The Reith Lectures,Stephen Hawking,"Arts, Film & Photography",19.0,2020-05-16 02:40:03.796094,1
1,Harry Potter and the Cursed Child - Parts One ...,J.K. Rowling,"Arts, Film & Photography",299.0,2020-05-16 02:40:03.796094,2
2,Leonardo da Vinci: A Life From Beginning to En...,Hourly History,"Arts, Film & Photography",199.0,2020-05-16 02:40:03.796094,3
3,Refreshing Mandala - Colouring Book for Adults...,Dreamland Publications,"Arts, Film & Photography",250.0,2020-05-16 02:40:03.796094,4
4,Mandala: Colouring Books for Adults with Tear ...,Wonder House Books,"Arts, Film & Photography",199.0,2020-05-16 02:40:03.796094,5

In [65]:
mean = df.groupby('Category').Price.mean()
median = df.groupby('Category').Price.median()
meanVsMedian = pd.merge(mean,median,on='Category')
meanVsMedian=meanVsMedian.rename(columns={'Price_x':'MeanPrice','Price_y':'MedianPrice'})
meanVsMedian

                                        MeanPrice  MedianPrice
Category
Action & Adventure                     268.775993       260.00
Arts, Film & Photography               300.174491       242.00
Biographies, Diaries & True Accounts   243.030865       199.00
Business & Economics                   281.049288       275.00
Children's & Young Adult               214.166822       199.00
Comics & Mangas                        121.028167        65.00
Computing, Internet & Digital Media    372.481398       349.50
Crafts, Home & Lifestyle               307.360501       266.00
Crime, Thriller & Mystery              241.961391       248.00
Exam Preparation                       412.136909       381.00
Fantasy, Horror & Science Fiction      257.826056       248.00
Health, Family & Personal Development  209.989819       178.20
Historical Fiction                     289.185818       265.05
History                                277.519154       254.50
Humour                                 145.875577        94.50
Language, Linguistics & Writing        256.390563       209.52
Law                                    404.533967       411.00
Literature & Fiction                   180.547002       119.00
Maps & Atlases                         232.905868       199.00
Politics                               344.738160       313.88
Reference                              231.969976       183.00
Religion                               177.314677       149.00
Romance                                173.023053       119.00
Sciences, Technology & Medicine        348.101656       299.00
Society & Social Sciences              325.838424       290.00
Sports                                 338.453189       326.00
Textbooks & Study Guides               290.408067       185.00
Travel                                 306.765819       299.00